* {font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body {
    background-color: rgb(147, 182, 247);
}
main {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
img.lado {
    float: right;
}